@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600");

html,
body {
  height: 100%;
  /* padding-top: 10px; */
  /* background: linear-gradient(to bottom right, #024, #402); */
}

.App {
  height: 100%;
  padding-top: 0px;
  font-family: Cinzel Decorative, sans-serif;
}
